<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>568203760443-821k1tb41odf0cvob0leljas50dph983.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.568203760443-821k1tb41odf0cvob0leljas50dph983</string>
	<key>API_KEY</key>
	<string>AIzaSyBcr3ifd-i9cT-jw2LqGz8nXjEOqWCQC6g</string>
	<key>GCM_SENDER_ID</key>
	<string>568203760443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>enterprise.com..ChatApp</string>
	<key>PROJECT_ID</key>
	<string>hate-blocker</string>
	<key>STORAGE_BUCKET</key>
	<string>hate-blocker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:568203760443:ios:c560e517bb7c4767629d1e</string>
	<key>DATABASE_URL</key>
	<string>https://hate-blocker.firebaseio.com</string>
</dict>
</plist>
